node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Rust
target/
**/*.rs.bk

# Local Artifacts
rust-book-source/
server.log
temp_rust_code_*/

# Editor
.idea/
.vscode/
